{% extends 'Base/BaseTemplate.html' %}
{% load FilterTags %}
{% block Title %}

{% endblock %}

{% block Css %}
    <style>
        [src='__None__'] {
            display: none !important;
        }

        ::placeholder {
            color: #999999;
            font-size: 85%;
        }

        p {
            margin: 0;
        }

        .ContainerTitle {
            text-align: left;
            border-left: 4px solid #95dde6;
            padding: 5px;
            padding-left: 10px;
        }

        .ContainerTitle p {
            font-size: 150%;
        }

        .ContainerBase {
            display: flex;
            justify-content: space-between;
            background: #f6ffff;
            width: 99%;
            height: 100%;
            margin: auto;
            padding: 5px;
            border-radius: 10px;

        }

        .ContainerAsideMenu {
            min-height: 100vh;
            width: 13%;
            display: inline-block;
            position: relative;
            padding: 20px 10px;
            border-radius: 30px;
        }

        .ContainerContent {
            width: 86%;
            min-height: 100%;
            display: inline-block;
            background: white;
            margin: 5px auto;
            padding: 5px;
            border-radius: 10px;
            box-shadow: -2px 0 7px rgba(228, 228, 228, 0.6), inset -3px -3px 10px rgba(242, 242, 242, 0.3);
        }

        .ContainerContent .ContainerTitle {
            border: none;
        }

        .ContainerContent .ContainerTitle p {
            border: none;
            border-bottom: 3px solid #fa63a7;
            display: inline-block;
        }

        .Container {
            height: 100%;
            margin: auto;
            transform: scale(.7) translateY(20px) translateX(-20px);
            animation: ShowContainerContent .5s forwards;
        }

        @keyframes ShowContainerContent {
            100% {
                transform: scale(1) translateX(0) translateY(0);
            }
        }

        .ContainerIsHide {
            display: none;
        }

        .ContainerAsideInfo {
            padding: 3px;
        }

        .ContainerAsideInfo > div {
            display: flex;
            justify-content: space-between;
        }

        .ContainerAsideInfo > div:first-of-type {

        }

        .ContainerAsideInfo > div:last-of-type {
            color: #777777;
        }

        .NameAndFamilyTeacherAside {
            margin: 0;
        }

        .MoneySellingCoursesAside {
            margin-top: 5px;
            text-align: left;
            color: #555555;
        }

        .ImageTeacherProfileAside {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .ContainerMainAside {
            margin-top: 40px;
        }

        .ContainerButtonAside div {
            cursor: pointer;
            padding: 20px 7px;
            display: flex;
            justify-content: space-between;
            color: #6e6e6e;
            transition: all .15s, border 0s;
            font-size: 95%;
            border-radius: 10px;
        }

        .ContainerButtonAside div:hover {
            background: white;
            border: 1px solid #f5f5f5;
            color: black;
        }

        .ContainerButtonAside div:hover i {
            color: #fa63a7;
            font-weight: bold;
        }

        .ContainerButtonAside div p {
            display: inline-block;
        }

        .ContainerButtonAside div i {
            font-size: 120%;
            padding-top: 2px;
        }


        #FormInformation {
            margin: auto;
            margin-top: 30px;
            text-align: left;
            width: 70%;
        }

        #FormSubmitCourse {
            margin: auto;
            margin-top: 30px;
            text-align: left;
            width: 70%;
        }

        .ItemForm {
            margin: 7px 0;
        }

        .LabelInput {
            margin: 5px;
            font-size: 95%;
            color: #888888;
        }

        .ItemFormInput i {
            text-align: right;
        }

        .ContainerImageFormInformation {
            direction: rtl;
            margin: 10px auto;
            width: 80%;
        }

        #ImageInformation {
            width: 200px;
            height: 200px;
            display: block;
            border-radius: 10px;
            border: 1px solid #eeeeee;
        }

        .ContainerButtonForm {
            margin: 100px 0;
            text-align: left;
        }

        .ContainerButtonForm button {
            width: auto;
        }

        .ContainerImageFormSubmitCourse {
            direction: rtl;
            margin: 10px auto;
            width: 80%;
        }

        #ImageForSubmitCourse {
            width: 200px;
            height: 200px;
            border-radius: 10px;
            border: 1px solid #eeeeee;
            display: block;
        }

        .PriceSubmitCourse {
            font-size: 85%;
            color: #666666;
            width: 80%;
            margin: 10px auto;
        }

        .PriceSubmitCourse p {
            display: inline-block;
            direction: ltr;
        }

        .Courses {
            margin: 50px 0;
            text-align: center;
        }

        .Course {
            vertical-align: top;
            display: inline-block;
            background: #00e2a2;
            width: 60%;
            height: 250px;
            margin: 10px;
            border-radius: 15px;
            overflow: hidden;
        }

        .Course > div {
            display: flex;
            justify-content: space-between;
        }

        .Course img {
            width: 250px;
            height: 250px;
            border-radius: 20% 10% 90% 39%;
            box-shadow: 5px 4px 10px rgba(145, 145, 145, 0.4);
        }

        .AboutCourse {
            width: 100%;
        }

        .TitleCourse {
            margin: 5px;
            padding: 4px;
            text-align: right;
            border-bottom: 2px dashed rgb(29, 144, 255);
        }

        .TitleCourse a{
            color: #444444;
        }

        .InfoCourse {
            width: 95%;
            display: block;
            margin: 15px auto;
            padding: 10px;
            background: white;
            border-radius: 10px;
            height: 150px;
            text-align: left;
            box-shadow: 0 10px 10px rgba(170, 170, 170, 0.3);
        }

        .InfoCourse .ResultField {
            font-size: 85%;
        }

        .InfoCourse .Label {
            font-size: 70%;
        }

        .InfoCourse > div {
            display: flex;
            justify-content: space-between;
        }

        .InfoCourse p {
            display: inline-block;
            margin: 0;
        }

        .InfoCourse > div > div > div {
            margin: 7px;
        }

        .ContainerChartStateCourseInfo{
            background: red;
            width: 55%;
            margin: auto;
            text-align: center;
        }


    </style>
{% endblock %}
{% block Content %}
    <div class="ContainerBase">
        <div class="ContainerAsideMenu">
            <div class="ContainerAsideInfo">
                <div>
                    <div>
                        <p class="NameAndFamilyTeacherAside">
                            {{ Teacher.GetNameAndFamily|truncatechars:20 }}
                        </p>
                        <p class="MoneySellingCoursesAside">
                            {% if Teacher.GetMoneySellingCourses == None %}
                                $ 0
                            {% else %}
                                $
                                {{ Teacher.GetMoneySellingCourses|NoneVal:' 0' }}
                            {% endif %}
                        </p>
                    </div>
                    {% if Teacher.Image != '' %}
                        <img src="{{ Teacher.Image.url }}" alt="{{ Teacher.GetNameAndFamily }}"
                             class="ImageTeacherProfileAside">
                    {% else %}
                        <img src="/static/image/ImageDefault/avatar-3.jpg" alt="{{ Teacher.GetNameAndFamily }}"
                             class="ImageTeacherProfileAside">
                    {% endif %}
                </div>
            </div>
            <div class="ContainerMainAside">
                <div class="ContainerButtonAside">
                    <div BtnAsideMenu ContainerLink="Dashboard">
                        <p>Dashboard</p>
                        <i class="far fa-tachometer"></i>
                    </div>
                    <div BtnAsideMenu ContainerLink="Courses">
                        <p>Courses</p>
                        <i class="far fa-file-video"></i>
                    </div>
                    <div BtnAsideMenu ContainerLink="CreateCourse">
                        <p>Create course</p>
                        <i class="far fa-file-plus"></i>
                    </div>
                    <div BtnAsideMenu ContainerLink="Information">
                        <p>Information</p>
                        <i class="far fa-info"></i>
                    </div>
                    <div ClickFunc="GoToUrl(/)">
                        <p>Home</p>
                        <i class="far fa-home"></i>
                    </div>
                    <div ClickFunc="SignOutAccount()">
                        <p>Sign out</p>
                        <i class="far fa-sign-out-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ContainerContent">
            <div class="Container" Container ContainerLinked="Dashboard">
                <div class="ContainerTitle">
                    <p>Dashboard</p>
                </div>
            </div>
            <div class="Container" Container ContainerLinked="Courses">
                <div class="ContainerTitle">
                    <p>Courses</p>
                </div>
                <div class="CoursesActive">
                    <div class="Courses">
                        {% for Course in Teacher.GetAllCourse %}
                            <div class="Course">
                                <div>
                                    <img src="{{ Course.Image.url }}" alt="{{ Course.Title }}">
                                    <div class="AboutCourse">
                                        <div class="TitleCourse">
                                            <a href="Panel/Course/{{ Course.id }}">
                                                <h5>{{ Course.Title|truncatechars:50 }}</h5>
                                            </a>
                                        </div>
                                        <div class="InfoCourse">
                                            <div>
                                                <div>
                                                    <div>
                                                        <p class="Label">Last Time Update </p>
                                                        <p class="ResultField">2221 Day Ago</p>
                                                    </div>
                                                    <div>
                                                        <i class="far fa-user"></i>
                                                        <p>01231</p>
                                                    </div>
                                                    <div>
                                                        <i class="far fa-video"></i>
                                                        <p>0</p>
                                                    </div>
                                                    <div>
                                                        <i class="far fa-comment"></i>
                                                        <p>0</p>
                                                    </div>
                                                </div>
                                                <div class="ContainerChartStateCourseInfo" id="Course_ID_{{ Course.id }}">
                                                    Chart
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="Container" Container ContainerLinked="CreateCourse">
                <div class="ContainerTitle">
                    <p>Create Course</p>
                </div>
                <form action="/t/Panel/CreateCourse" method="post" enctype="multipart/form-data" content="UTF-8"
                      id="FormSubmitCourse">
                    {% csrf_token %}
                    <div class="ItemForm">
                        <p class="LabelInput">
                            Title Course :
                        </p>
                        <div class="ItemFormInput">
                            <input type="text" placeholder="JavaScript Course" name="TitleCourse" InputForm
                                   InputFormSubmitCourse Bigger="3" Less="200"
                                   SetIn="Container">
                        </div>
                    </div>
                    <div class="ItemForm">
                        <p class="LabelInput">
                            PreRequisites :
                        </p>
                        <div class="ItemFormInput">
                            <input type="text" placeholder="Html & Css" name="PreRequisites" InputForm
                                   InputFormSubmitCourse Bigger="0"
                                   Less="200" SetIn="Container">
                        </div>
                    </div>
                    <div class="ItemForm">
                        <p class="LabelInput">
                            References <span class="text-danger">(Please split with <b>" , "</b> )</span> :
                        </p>
                        <div class="ItemFormInput">
                            <input type="text" placeholder="For Example : w3school.com , JavaScript.com "
                                   name="References" InputForm InputFormSubmitCourse Bigger="0" Less="1000"
                                   SetIn="Container">
                        </div>
                    </div>
                    <div class="ItemForm">
                        <p class="LabelInput">
                            Picture :
                        </p>
                        <div class="ItemFormInput">
                            <input type="file" name="Image" InputForm InputFormSubmitCourse
                                   SetIn="Container" IdImageTag="ImageForSubmitCourse">
                            <input type="hidden" name="StateImage" value="MostGet">
                        </div>
                        <div class="ContainerImageFormSubmitCourse">
                            <img src="__None__" id="ImageForSubmitCourse" alt="">
                        </div>
                    </div>
                    <div class="ItemForm">
                        <p class="LabelInput">
                            Price :
                        </p>
                        <div class="ItemFormInput">
                            <input type="number" placeholder="0" name="Price" InputForm InputFormSubmitCourse
                                   InputPriceFormSubmitCourse Bigger="0" Less="15"
                                   SetIn="Container" TypeVal="Number">
                        </div>
                        <div class="PriceSubmitCourse">
                            $
                            <p id="PriceSubmitCourse" class="SplitNumber" Number="0"></p>
                        </div>
                    </div>
                    <div class="ItemForm">
                        <p class="LabelInput">Description :</p>
                        <div class="ItemFormInput">
                            <textarea name="Description" placeholder="This course is a great start for beginners"
                                      rows="6" type="text" InputForm InputFormSubmitCourse SetIn="Container"
                                      TypeVal="Text" Bigger="3" Less="5000"></textarea>
                        </div>
                    </div>
                    <div class="ContainerButtonForm">
                        <button class="BtnStyle_5 Disabled" type="button" id="ButtonFormSubmitCourse">Create Course
                        </button>
                    </div>
                </form>
            </div>
            <div class="Container" Container ContainerLinked="Information">
                <div class="ContainerTitle">
                    <p>Information</p>
                </div>
                <form action="/t/Panel/SubmitInformation" enctype="multipart/form-data" content="UTF-8" method="post"
                      id="FormInformation">
                    {% csrf_token %}
                    <div class="ItemForm">
                        <p class="LabelInput">Name and Family :</p>
                        <div class="ItemFormInput">
                            <input type="text" name="NameAndFamily" InputForm InputFormInfo Bigger="3" Less="200"
                                   SetIn="Icon" CheckInputVal
                                   value="{{ Teacher.NameAndFamily|NoneVal:'' }}">
                            <i class="far fa-times-circle"></i>
                        </div>
                    </div>
                    <div class="ItemForm">
                        <p class="LabelInput">Email :</p>
                        <div class="ItemFormInput">
                            <input type="text" name="Email" InputForm InputFormInfo Bigger="3" Less="65" TypeVal="Email"
                                   SetIn="Icon"
                                   CheckInputVal value="{{ Teacher.Email|NoneVal:'' }}">
                            <i class="far fa-times-circle"></i>
                        </div>
                    </div>
                    <div class="ItemForm">
                        <p class="LabelInput">Phone Number :</p>
                        <div class="ItemFormInput">
                            <input type="number" name="PhoneNumber" InputForm InputFormInfo Bigger="3" Less="20"
                                   TypeVal="Number"
                                   SetIn="Icon" CheckInputVal value="{{ Teacher.PhoneNumber|NoneVal:'' }}">
                            <i class="far fa-times-circle"></i>
                        </div>
                    </div>
                    <div class="ItemForm">
                        <p class="LabelInput">About Me :</p>
                        <div class="ItemFormInput">
                            <textarea type="text" rows="5" name="AboutMe" InputForm InputFormInfo Bigger="2" Less="5000"
                                      TypeVal="Text"
                                      SetIn="Icon" CheckInputVal>{{ Teacher.AboutMe|NoneVal:'' }}</textarea>
                            <i class="far fa-times-circle"></i>
                        </div>
                    </div>
                    {% if Teacher.Image != '' %}
                        <div class="ItemForm">
                            <p class="LabelInput">Picture :</p>
                            <div class="ItemFormInput">
                                <input type="file" name="Image" IdImageTag="ImageInformation"
                                       accept="image/png, image/gif, image/jpeg" InputForm
                                       InputFormInfo TypeVal="File"
                                       SetIn="Icon" CheckInputVal State="Geted">
                                <input type="hidden" name="StateImage" value="Geted">
                                <i class="far fa-times-circle"></i>
                            </div>
                        </div>
                        <div class="ContainerImageFormInformation">
                            <img src="{{ Teacher.Image.url }}" alt="{{ Teacher.NameAndFamily }}" id="ImageInformation">
                        </div>
                    {% else %}
                        <div class="ItemForm">
                            <p class="LabelInput">Picture :</p>
                            <div class="ItemFormInput">
                                <input type="file" name="Image" IdImageTag="ImageInformation"
                                       accept="image/png, image/gif, image/jpeg" InputForm
                                       InputFormInfo TypeVal="File"
                                       SetIn="Icon" CheckInputVal State="MostGet">
                                <input type="hidden" name="StateImage" value="MostGet">
                                <i class="far fa-times-circle"></i>
                            </div>
                        </div>
                        <div class="ContainerImageFormInformation">
                            <img src="__None__" alt="Picture" id="ImageInformation">
                        </div>
                    {% endif %}

                    <div class="ContainerButtonForm">
                        <button id="BtnSubmitInformation" type="button" class="BtnStyle_5 Disabled">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block Js %}
    <script>
        SplitPrice()
        GetCookieFunctionality_ShowNotification()


        // Course_ID_1


        let AllBtnAsideMenu = document.querySelectorAll('[BtnAsideMenu]')
        for (let Btn of AllBtnAsideMenu) {
            Btn.addEventListener('click', function (e) {
                let Icon = e.currentTarget
                ShowContainer(Icon)
            })
        }


        function ShowContainer(Icon) {
            let AllContainer = document.querySelectorAll('[Container]')
            for (let Container of AllContainer) {
                Container.classList.add('ContainerIsHide')
            }
            let Element = document.querySelector(`[ContainerLinked=${Icon.getAttribute('ContainerLink')}]`)
            Element.classList.remove('ContainerIsHide')
        }


        let FuncSetActiveContainer = ShowContainer
        let AttrSearchContainer = 'ContainerLink'
        let ValAttrContainerDefault = 'Dashboard'
        let UrlContainer = window.location.href
        let ValueForItemMenu = UrlContainer.split('?')[1]
        if (ValueForItemMenu != undefined && ValueForItemMenu != '' && ValueForItemMenu != ' ') {
            let ItemsInMenuForURL = document.querySelector(`[${AttrSearchContainer}=${ValueForItemMenu}]`)
            if (ValueForItemMenu == 'Home') {
                GoToUrl('/')
            }
            if (ItemsInMenuForURL != null) {
                FuncSetActiveContainer(ItemsInMenuForURL)
            } else {
                let ItemsInMenuForURL = document.querySelector(`[${AttrSearchContainer}=${ValAttrContainerDefault}]`)
                FuncSetActiveContainer(ItemsInMenuForURL)
            }
        } else {
            let ItemsInMenuForURL = document.querySelector(`[${AttrSearchContainer}=${ValAttrContainerDefault}]`)
            FuncSetActiveContainer(ItemsInMenuForURL)
        }


        let FormInformation = document.querySelector('#FormInformation')
        FormInformation.addEventListener('input', function () {
            CheckingStateBtnSubmitForm('BtnSubmitInformation', 'InputFormInfo')
        })


        function CheckingStateBtnSubmitForm(IdButton, SelectorInputs) {
            let AllInputFormInfo = document.querySelectorAll(`[${SelectorInputs}]`)
            let BtnSubmit = document.querySelector(`#${IdButton}`)
            BtnSubmit.classList.remove('Disabled')
            BtnSubmit.type = 'submit'
            for (let Input of AllInputFormInfo) {
                let Valid = Input.getAttribute('Valid') || 'false'
                if (Valid == 'false') {
                    BtnSubmit.classList.add('Disabled')
                    BtnSubmit.type = 'button'
                }
            }
        }

        let FormSubmitCourse = document.querySelector('#FormSubmitCourse')
        FormSubmitCourse.addEventListener('input', function () {
            CheckingStateBtnSubmitForm('ButtonFormSubmitCourse', 'InputFormSubmitCourse')
        })


        let InputPriceFormSubmitCourse = document.querySelector('[InputPriceFormSubmitCourse]')
        InputPriceFormSubmitCourse.addEventListener('input', function () {
            let ItemPriceFormSubmitCourse = document.querySelector('#PriceSubmitCourse')
            ItemPriceFormSubmitCourse.setAttribute('Number', InputPriceFormSubmitCourse.value)
            SplitPrice(ItemPriceFormSubmitCourse)
        })


    </script>
{% endblock %}