<div class="product mb-4 col-md-6 col-lg-4 col-xl-3">
    <div class="card border-0 rounded-3 shadow-sm h-100">
      <img src="{{ course.Image.url }}" class="card-img-top" alt="{{ course.Name }}" />
      <div class="card-body h-100">
        <h5 class="card-title">{{ course.Name }}</h5>
        <small>{{ course.Price }}$</small>
        <p class="card-text">
          {{ course.Description | truncatewords:15 }}
        </p>
        <li class="list-unstyled text-muted d-inline-block me-2">
          <i class="fa fa-clock-o me-1"></i>2h 30m
        </li>
        <li class="list-inline-item">
          <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
            <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE"></rect>
            <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
          </svg>
          Intermediate
        </li>
        <li class="list-inline-item mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-person-dash text-warning" viewBox="0 0 16 16">
            <path
              d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
            <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z" />
          </svg>
          <small>Students(20,586)</small>
        </li>
        <a href="{% url 'course_detail' course.id %}" class="btn btn-primary w-100">Lets See</a>
      </div>
    </div>
  </div>