body{
    background-color: #f8f9fa !important;
}
.nav-link:hover{
    color: #eee;
}
.card{
    transition: all 0.3s linear;
}
.card:hover{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.act{
    border-bottom:3px solid #754ffe!important;

}
main{
    top: -55px;
}
aside{
    top: -200px;
}
#LoginRegister{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right , #4fe4fe,#754ffe);
}
#sub-lR{
    background-image: linear-gradient(to right , #4fe4fe,#924ffe);
}
.login{
    height: 430px;
}
.register{
    height: 555px;
}